<!DOCTYPE html> 
<html lang="en"> 
<head> 
 <meta charset="utf-8"> 
<title>Happy Tails</title>
<link rel="stylesheet" href="/css/question8.css"></head> 
<body> 
    <!-- HEADER PLACEHOLDER -->
<div class="content">
<h1>Contact Us</h1>
<p>Thank you for your interest in contacting us. Whether you have a question, suggestion, or need assistance, we're here to help.</p>
<p>Contact Person: Ibtihal Mossa (40239097)</p>
<p>Email address: ibtihalmossa@gmail.com</p>
</div>

    <!-- FOOTER PLACEHOLDER -->

        <script src="/js/script.js"></script>

</body>
</html>