<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Happy Tails</title>
    <link rel="stylesheet" href="/css/question8.css">
</head>
<body>
    <!-- HEADER PLACEHOLDER -->
    <div class="content">
        <form id="findForm" action="/find-pet" method="POST" onsubmit="return validateFormFind(event)">
            <fieldset>
                <legend>Find your fur friend</legend>
                <p>What are you looking for?</p>
                <input type="radio" id="cat" name="catdog" value="cat">
                <label for="cat">Cat</label>
                <input type="radio" id="dog" name="catdog" value="dog">
                <label for="dog">Dog</label> <br>
                <span id="petTypeError" class="error"></span><br>

                <p>Which breed?</p>
                <div id="catbreed">
                    <select name="catbreed">
                        <option value="">Cat Breed</option>
                        <option value="siamois">Siamois</option>
                        <option value="ragdoll">Ragdoll</option>
                        <option value="sphynx">Sphynx</option>
                        <option value="mixed">Mixed Breed</option>
                        <option value="na">Doesn't matter</option>
                    </select>
                </div>
                <div id="dogbreed">
                    <select name="dogbreed">
                        <option value="">Dog Breed</option>
                        <option value="goldenretriever">Golden Retriever</option>
                        <option value="labrador">Labrador</option>
                        <option value="husky">Husky</option>
                        <option value="mixed">Mixed Breed</option>
                        <option value="na">Doesn't matter</option>
                    </select>
                </div>
                <span id="breedError" class="error"></span><br>
                <br>

                <label for="age">Preferred age?</label><br><br>
                <select name="age" id="age">
                    <option value="">Choose below</option>
                    <option value="lessthan1">Less than 1 year old</option>
                    <option value="1to5">1 to 5 years old</option>
                    <option value="5to10">5 to 10 years old</option>
                    <option value="10older">10 years and older</option>
                    <option value="na">Doesn't matter</option>
                </select><br>
                <span id="ageError" class="error"></span><br>

                <br><br>
                <label for="gender">Preferred gender?</label><br><br>
                <select name="gender" id="gender">
                    <option value="">Gender</option>
                    <option value="female">Female</option>
                    <option value="male">Male</option>
                    <option value="na">Doesn't matter</option>
                </select><br>
                <span id="genderError" class="error"></span><br>

                <p>Does it need to get along with:</p>
                <input type="checkbox" id="cats" name="getAlongWith" value="Cats">
                <label for="cats"> Cats</label>
                <input type="checkbox" id="dogs" name="getAlongWith" value="Dogs">
                <label for="dogs"> Dogs</label>
                <input type="checkbox" id="children" name="getAlongWith" value="Children">
                <label for="children"> Children</label>
                <input type="checkbox" id="noone" name="getAlongWith" value="No one">
                <label for="noone"> No one</label><br>
                <span id="getAlongError" class="error"></span><br><br>

                <input type="submit">
                <input type="reset">
            </fieldset>
        </form>
        <div id="results">
          </div>
    </div>
    <!-- FOOTER PLACEHOLDER -->
    <script src="/js/script.js"></script>
</body>
</html>
