<header>
    <a href="/">
        <img src="/images/logo8.webp" alt="logo" id="logo">
    </a>
    <h1>Happy Tails  </h1>
    <div id="dateTime"></div>
    <div id="usernameDisplay"></div>

    <nav class="navbar">
        <a href="/">Home</a>
        <a href="/login">Login</a>
        <a href="/create-account">Create an account</a>
        <a href="/find">Find a dog/cat</a>
        <a href="/dogcare">Dog care</a>
        <a href="/catcare">Cat care</a>
        <a href="/giveaway">Have a pet to give away</a>
        <a href="/" id="logoutLink">Log Out</a>
        <a href="/contact">Contact Us</a>
 
    </nav>
</header>
