<!DOCTYPE html> 
<html lang="en"> 
<head> 
 <meta charset="utf-8"> 
<title>Happy Tails</title>
<link rel="stylesheet" href="/css/question8.css">
</head> 
<body> 
     <!-- HEADER PLACEHOLDER -->
<div class="content" id="welcomePage">
    
<p style="font-weight:bold;">Welcome to Happy Tails, where every pet deserves a loving home. We’re dedicated to connecting you with wonderful dogs and cats looking for their forever families. <br> Whether you're looking to adopt a new furry friend or need information on how to care for your current pet, we’ve got you covered.</p>
</div>

    <!-- FOOTER PLACEHOLDER -->
    <script src="/js/script.js"></script>
</body>
</html>

